<div class="container">
    <h1 class="text-center">Contact Us</h1>
    <p>We are headquartered in Meridian, ID and provide services for the entire Treasure Valley area including Boise, Meridian, Eagle, Star, Middleton, Nampa, Caldwell, and Kuna. Feel free to use the form below to send us a message and we will get right back to you. This is test content.</p>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="firstName" name="firstName" #firstname="ngModel">
            <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">First Name is required</div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="lastName" name="lastName" #lastname="ngModel">
            <div [hidden]="lastname.valid || lastname.untouched" class="alert alert-danger">Last Name is required</div>
          </div>             
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="email" name="email" #emailaddress="ngModel">
            <div [hidden]="emailaddress.valid || emailaddress.untouched" class="alert alert-danger">Email address is required</div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">       
          <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="phoneNumber" name="phoneNumber" #phonenumber="ngModel">
            <div [hidden]="phonenumber.valid || phonenumber.untouched" class="alert alert-danger">Phone Number is required</div>
          </div>   
        </div>          
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" id="subject" required [(ngModel)]="subject" name="subject" #messagesubject="ngModel">
            <div [hidden]="messagesubject.valid || messagesubject.untouched" class="alert alert-danger">Subject is required</div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="message">Message:</label><br>
            <textarea name="" id="message" rows="10" required [(ngModel)]="message" name="message" #messagebody="ngModel"></textarea>
            <div [hidden]="messagebody.valid || messagebody.untouched" class="alert alert-danger">Message is required</div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success float-right" type="submit">Submit</button>  
        </div>
      </div>
    </form>
  </div>