.team-info {
    min-height: 250px;
    height: auto;
    margin-bottom: 100px;
}

.team-info img {
    height: 150px;
    float: left;
    margin: 1px 10px;
}

.team-info p {
    text-align: left;
    margin: 8px;
}

h3 {
    text-align: left;
}

.job-title {
    margin-bottom: 20px;
    text-align: left;
}

