<div class="container">
  <h1>Our Team</h1>
  <div class="row text-center">
    <div class="col-lg-6">
      <div class="team-info">
          <img src="./public/images/150x150.jpg" alt="Daniel Gibson">
          <h3>Daniel Gibson, PsyD</h3>
          <div class="job-title">Director of Clinical Operations / Founder</div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci!</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="team-info">
        <img src="./public/images/150x150.jpg" alt="Stephen Gibson">
        <h3>Stephen Gibson</h3>
        <div class="job-title">Director of Care, Education, and Development</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci!</p>
        
      </div>
    </div>
    <div class="col-lg-6">
      <div class="team-info">
          <img src="./public/images/150x150.jpg" alt="Zachary Merrill">
        <h3>Zachary Merrill</h3>
        <div class="job-title">Director of Operations</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, maiores explicabo voluptas consectetur cupiditate quam velit, est iure voluptatum tenetur libero reprehenderit earum eligendi, vel ad officiis beatae rem. Adipisci!</p>        
      </div>
    </div>
    <div class="col-lg-6">
      <div class="team-info">
        <img src="./public/images/kemish_hendershot.jpg" alt="Kemish W. Hendershot">
        <h3>Kemish W. Hendershot</h3>
        <div class="job-title">Director of IT / Software Development</div>
        <p>I attended Boise State University and Western Governors University, have a degree in Business Management, and speak Spanish. I am a self-taught software developer specializing in PHP, Angular, Node.js, and Python. I prefer a Mac or Linux to Windows. I think technology is amazing when used in the right ways but can be taken to extremes and can cause many problems; I therefore strongly advocate for the wise use of technology.</p><p>I love the Idaho outdoors and appreciate being close to so many outdoor activities. When I am not working, I enjoy mountain biking, kayaking or whitewater rafting, skiing, hunting, fly fishing, and, most of all, spending time with my family.</p>
      </div>
    </div>
  </div>
</div>